### Importamos las librerias

In [3]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

### Importamos los datasets

In [40]:
df_train_values = pd.read_csv('../../datasets/train_values.csv')
df_train_labels = pd.read_csv('../../datasets/train_labels.csv')

df_train_values=df_train_values.astype({
    'land_surface_condition':'category',
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category',

    'legal_ownership_status':'category',

    'has_secondary_use':'bool',
    'has_secondary_use_agriculture':'bool', 
    'has_secondary_use_hotel':'bool', 
    'has_secondary_use_rental':'bool', 
    'has_secondary_use_institution':'bool', 
    'has_secondary_use_school':'bool',
    'has_secondary_use_industry':'bool',
    'has_secondary_use_health_post':'bool',
    'has_secondary_use_gov_office':'bool',
    'has_secondary_use_use_police':'bool',
    'has_secondary_use_other':'bool'
})
df_train_labels = df_train_labels.astype({'damage_grade':'category'})

### Hacemos el an√°lisis

In [41]:
superstructures = [
    'has_superstructure_adobe_mud',
    'has_superstructure_mud_mortar_stone',
    'has_superstructure_stone_flag',
    'has_superstructure_cement_mortar_stone',
    'has_superstructure_mud_mortar_brick',
    'has_superstructure_cement_mortar_brick',
    'has_superstructure_timber',
    'has_superstructure_bamboo',
    'has_superstructure_rc_non_engineered',
    'has_superstructure_rc_engineered',
    'has_superstructure_other'
]
df_has_superstructure = df_train_values[superstructures]

In [48]:
df_has_superstructure.head()

,building_id,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other
0,802906,True,True,False,False,False,False,False,False,False,False,False
1,28830,False,True,False,False,False,False,False,False,False,False,False
2,94947,False,True,False,False,False,False,False,False,False,False,False
3,590882,False,True,False,False,False,False,True,True,False,False,False
4,201944,True,False,False,False,False,False,False,False,False,False,False

In [52]:
df_has_superstructure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 11 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   has_superstructure_adobe_mud            260601 non-null  bool
 1   has_superstructure_mud_mortar_stone     260601 non-null  bool
 2   has_superstructure_stone_flag           260601 non-null  bool
 3   has_superstructure_cement_mortar_stone  260601 non-null  bool
 4   has_superstructure_mud_mortar_brick     260601 non-null  bool
 5   has_superstructure_cement_mortar_brick  260601 non-null  bool
 6   has_superstructure_timber               260601 non-null  bool
 7   has_superstructure_bamboo               260601 non-null  bool
 8   has_superstructure_rc_non_engineered    260601 non-null  bool
 9   has_superstructure_rc_engineered        260601 non-null  bool
 10  has_superstructure_other                260601 non-null  bool
dtypes: bool(11)
memory usage: 2.7 MB

In [42]:
df_has_superstructure['suma_structure'] = df_has_superstructure.sum(adf_rc_eng_by_sum_structures_and_damageis=1)

In [43]:
df_has_superstructure['suma_structure'].value_counts()

1    176016
2     57838
3     20210
4      4925
5      1259
6       314
7        35
8         4
Name: suma_structure, dtype: int64

In [44]:
df_train_values[(df_has_superstructure['suma_structure'] == 8)]

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
5577,747820,11,131,8614,2,0,11,7,t,r,...,False,False,False,False,False,False,False,False,False,False
53043,841313,23,774,9172,2,45,6,5,t,u,...,False,False,False,False,False,False,False,False,False,False
54684,166615,27,181,7810,5,70,20,10,t,r,...,False,True,False,False,False,False,False,False,False,False
251212,383507,7,901,11244,2,0,3,9,o,i,...,False,False,False,False,False,False,False,False,False,False

84585 edificios tiene m√°s de un tipo de superstructure

### __Hacemos un an√°lisis de los materiales utilizados__

__Filtro el segmento de datos que me interesa__

Queremos saber cu√°l fue el material mas resistente y el material mas golpeado. 
Qu√© relaci√≥n tiene esto, con por ejemplo la antiguedad de un edificio, el dise√±o antis√≠smico o la combinaci√≥n de superstructures?

In [45]:
def calculatePercentage(field, name_total):
    loc_filter = (df_train_values[field] == 1)
    df_train_values_filtered = df_train_values.loc[loc_filter, ['building_id']]
    total_buildings_by_superstructure = df_train_values_filtered.count().building_id
    df_has_superstructure_with_damage = df_train_values_filtered.merge(df_train_labels)
    df_total_superstructure_by_damage = df_has_superstructure_with_damage\
        .groupby('damage_grade')\
        .count()\
        .reset_index()\
        .rename(columns={ 'building_id': name_total })
    df_total_superstructure_by_damage['percentage'] = df_total_superstructure_by_damage[name_total] * 100 / total_buildings_by_superstructure
    return [df_has_superstructure_with_damage, df_total_superstructure_by_damage]

### __Variable: has_superstructure_adobe_mud__

In [46]:
df_adobe_with_damage, df_adobe_with_percentage = calculatePercentage('has_superstructure_adobe_mud', 'total_superstructure_adobe_mud')
df_adobe_with_percentage

  damage_grade  total_superstructure_adobe_mud           percentage
0            1                             594                 2.57
1            2                           13902                60.18
2            3                            8605                37.25

Es claro ver como el adobe fue de los materiales mas golpeados por el da√±o 3, aunque no es la mayor parte del da√±o, son de los mas golpeados. 

Veamos que pasa con la antiguedad.

In [81]:
df_adobe_with_damage\
    .merge(df_train_values)[['damage_grade', 'building_id', 'age']]\
    .groupby(['age', 'damage_grade'])\
    .count()\
    .reset_index()\
    .rename(columns={ 'building_id': 'total_buildings_by_age_andrc_engineered' })

     age damage_grade  total_buildings_by_age_andrc_engineered
0      0            1                                       90
1      0            2                                      431
2      0            3                                      181
3      5            1                                       94
4      5            2                                      847
..   ...          ...                                      ...
109  200            2                                       14
110  200            3                                        6
111  995            1                                       16
112  995            2                                      135
113  995            3                                       43

[114 rows x 3 columns]

En base a agrupar por a√±os y por da√±o, es interesante ver como se va reduciendo la cantidad de construcciones hechas en adobe acerc√°ndose a la actualidad. 

Pero quiz√° el dato mas interesante, aunque tambi√©n un tanto obvio, es el desgaste que sufre el adobe con el paso del tiempo. La proporci√≥n entre un determinado segmento de antiguedad y sus da√±os, va inclin√°ndose cada vez mas hacia el da√±o 3. Muy probablemente un edificio de adobe de varios a√±os de antiguedad sufra mucho mayor da√±o que uno nuevo. 

Seg√∫n material en blogs sobre construcci√≥n, el adobe tiene una duraci√≥n promedio de 200 a√±os. Pero es claro que este n√∫mero no importa y sufre desgaste de manera constante.

In [82]:
df_adobe_with_damage\
    .merge(df_train_values)[['damage_grade', 'building_id', 'plan_configuration']]\
    .groupby(['plan_configuration', 'damage_grade'])\
    .count()\
    .reset_index()\
    .rename(columns={ 'building_id': 'total_buildings_by_plan_andrc_engineered' })

   plan_configuration damage_grade  total_buildings_by_plan_andrc_engineered
0                   a            1                                         1
1                   a            2                                         8
2                   a            3                                         3
3                   c            1                                         1
4                   c            2                                        11
5                   c            3                                         5
6                   d            1                                       545
7                   d            2                                     13097
8                   d            3                                      8181
9                   f            1                                         0
10                  f            2                                         2
11                  f            3                                         1
12                  m            1                                         0
13                  m            2                                         9
14                  m            3                                         0
15                  n            1                                         0
16                  n            2                                         0
17                  n            3                                         2
18                  o            1                                         0
19                  o            2                                         7
20                  o            3                                         2
21                  q            1                                        24
22                  q            2                                       375
23                  q            3                                       293
24                  s            1                                         5
25                  s            2                                        23
26                  s            3                                        17
27                  u            1                                        18
28                  u            2                                       370
29                  u            3                                       101

Por √∫ltimo este grafo tiener cierta coherencia con los datos evaluados a la hora de hacer el an√°lisis entre el dise√±o antis√≠smico y el nivel de da√±o. 
En general todas los dise√±os antis√≠smicos fueron poco efectivos, inclusive los que antes resultaron resistentes, aqu√≠ fueron todos da√±ados en proporciones iguales.
En particular la categor√≠a D, que es la mas utilizada en este tipo de construcci√≥n, tiene un gran porcentaje de da√±o nivel 3 en relaci√≥n al da√±o nivel 1. 

Podemos concluir que el dise√±o antis√≠smico por alg√∫n motivo, no es efectivo en las casas de adobe y no influye en la probabilidad de disminuir el da√±o realizado


### __Variable: has_superstructure_mud_mortar_stone__

In [14]:
df_mud_mortar_stone_with_damage, df_mud_mortar_stone_with_percentage = calculatePercentage('has_superstructure_mud_mortar_stone', 'total_superstructure_mud_mortar_stone')
df_mud_mortar_stone_with_percentage

  damage_grade  total_superstructure_mud_mortar_stone           percentage
0            1                                   8760                 4.41
1            2                                 113947                57.39
2            3                                  75854                38.20

### __Variable: has_superstructure_stone_flag__

In [15]:
df_stone_flag_with_damage, df_stone_flag_with_percentage = calculatePercentage('has_superstructure_cement_mortar_stone', 'total_superstructure_cement_mortar_stone')
df_stone_flag_with_percentage

  damage_grade  total_superstructure_cement_mortar_stone           percentage
0            1                                       829                17.45
1            2                                      3248                68.35
2            3                                       675                14.20

### __Variable: has_superstructure_mud_mortar_brick__

In [16]:
df_mud_mortar_brick_with_damage, df_mud_mortar_brick_with_percentage = calculatePercentage('has_superstructure_mud_mortar_brick', 'total_superstructure_mud_mortar_brick')
df_mud_mortar_brick_with_percentage

  damage_grade  total_superstructure_mud_mortar_brick           percentage
0            1                                    623                 3.51
1            2                                  11698                65.86
2            3                                   5440                30.63

### __Variable: has_superstructure_cement_mortar_brick__

In [17]:
df_cement_mortar_brick_with_damage, df_cement_mortar_brick_with_percentage = calculatePercentage('has_superstructure_cement_mortar_brick', 'total_superstructure_cement_mortar_brick')
df_cement_mortar_brick_with_percentage

  damage_grade  total_superstructure_cement_mortar_brick           percentage
0            1                                      7105                36.22
1            2                                     11421                58.23
2            3                                      1089                 5.55

### __Variable: has_superstructure_timber__

In [18]:
df_timber_with_damage, df_timber_with_percentage = calculatePercentage('has_superstructure_timber', 'total_superstructure_timber')
df_timber_with_percentage

  damage_grade  total_superstructure_timber           percentage
0            1                         7642                11.50
1            2                        40187                60.48
2            3                        18621                28.02

### __Variable: has_superstructure_bamboo__

In [19]:
df_bamboo_with_damage, df_bamboo_with_percentage = calculatePercentage('has_superstructure_bamboo', 'total_superstructure_bamboo')
df_bamboo_with_percentage

  damage_grade  total_superstructure_bamboo           percentage
0            1                         2839                12.81
1            2                        14001                63.20
2            3                         5314                23.99

### __Variable: has_superstructure_rc_non_engineered__

In [20]:
df_rc_non_engineered_with_damage, df_rc_non_engineered_with_percentage = calculatePercentage('has_superstructure_rc_non_engineered', 'total_superstructure_rc_non_engineered')
df_rc_non_engineered_with_percentage

  damage_grade  total_superstructure_rc_non_engineered           percentage
0            1                                    3857                34.75
1            2                                    5832                52.55
2            3                                    1410                12.70

### __Variable: has_superstructure_rc_engineered__

In [47]:
df_rc_engineered_with_damage, df_rc_engineered_with_percentage = calculatePercentage('has_superstructure_rc_engineered', 'total_superstructure_rc_engineered')
df_rc_engineered_with_percentage

  damage_grade  total_superstructure_rc_engineered           percentage
0            1                                2656                64.26
1            2                                1402                33.92
2            3                                  75                 1.81

Podemos observar que la mayor√≠a de los edificios constru√≠dos con este material han soportado los da√±os de una manera bastante buena. Hay muy poca probabilidad de que un edificio constru√≠do con estos materiales sufra da√±os graves.

Podemos analizar tambi√©n la cantidad de a√±os, la cantidad de pisos o el tipo de dise√±o antis√≠smico que poseen.

In [61]:
df_rc_engineered_with_damage\
    .merge(df_train_values)[['damage_grade', 'building_id', 'age']]\
    .groupby(['age', 'damage_grade'])\
    .count()\
    .reset_index()\
    .rename(columns={ 'building_id': 'total_buildings_by_age_andrc_engineered' })

    age damage_grade  total_buildings_by_age_andrc_engineered
0     0            1                                     1038
1     0            2                                      350
2     0            3                                       12
3     5            1                                      754
4     5            2                                      458
5     5            3                                       16
6    10            1                                      427
7    10            2                                      287
8    10            3                                       15
9    15            1                                      241
10   15            2                                      142
11   15            3                                       11
12   20            1                                      116
13   20            2                                       82
14   20            3                                        8
15   25            1                                       34
16   25            2                                       28
17   25            3                                        4
18   30            1                                       23
19   30            2                                       16
20   30            3                                        3
21   35            1                                        4
22   35            2                                       10
23   35            3                                        1
24   40            1                                        3
25   40            2                                        8
26   40            3                                        1
27   45            1                                        1
28   45            2                                        2
29   45            3                                        0
30   50            1                                        2
31   50            2                                        5
32   50            3                                        1
33   55            1                                        1
34   55            2                                        0
35   55            3                                        0
36   60            1                                        1
37   60            2                                        2
38   60            3                                        2
39   65            1                                        1
40   65            2                                        0
41   65            3                                        0
42   75            1                                        0
43   75            2                                        1
44   75            3                                        0
45   80            1                                        0
46   80            2                                        0
47   80            3                                        1
48   85            1                                        0
49   85            2                                        1
50   85            3                                        0
51  995            1                                       10
52  995            2                                       10
53  995            3                                        0

Podemos ver claramente como es una superestructura que gan√≥ popularidad con el paso del tiempo hasta el d√≠a de hoy. Esto genero que se pudiera reducir notablemente la cantidad de edificios da√±ados con niveles altos. Inclusive, es de los pocos indicadores que tiene mas edificios da√±ados con nivel 1 que con la suma de los edificios da√±ados entre los niveles 2 y 3.

In [62]:
df_rc_engineered_with_damage\
    .merge(df_train_values)[['damage_grade', 'building_id', 'plan_configuration']]\
    .groupby(['plan_configuration', 'damage_grade'])\
    .count()\
    .reset_index()\
    .rename(columns={ 'building_id': 'total_buildings_by_plan_andrc_engineered' })

   plan_configuration damage_grade  total_buildings_by_plan_andrc_engineered
0                   a            1                                         5
1                   a            2                                         4
2                   a            3                                         0
3                   c            1                                        25
4                   c            2                                        13
5                   c            3                                         1
6                   d            1                                      2416
7                   d            2                                      1262
8                   d            3                                        65
9                   f            1                                         0
10                  f            2                                         0
11                  f            3                                         0
12                  m            1                                         3
13                  m            2                                         0
14                  m            3                                         0
15                  n            1                                         1
16                  n            2                                         1
17                  n            3                                         0
18                  o            1                                         3
19                  o            2                                         2
20                  o            3                                         0
21                  q            1                                       132
22                  q            2                                        72
23                  q            3                                         6
24                  s            1                                         5
25                  s            2                                         5
26                  s            3                                         0
27                  u            1                                        66
28                  u            2                                        43
29                  u            3                                         3

Podemos ver que pese a que el dise√±o antis√≠smico de categor√≠a _d_ ten√≠a un porcentaje muy bajo de edificios da√±ados con nivel 1, cuando esos edificios con dise√±o antis√≠smico de categor√≠a d son constru√≠dos con la superestructura en cuesti√≥n, es claro que el porcentaje de edificios destru√≠dos con da√±o nivel 3 es mucho menor que los edificios destru√≠dos con da√±o 1.

Esto quiere decir que pese a la alta de probabilidad de salir da√±ado con dise√±o antis√≠smico de categor√≠a d, el tener este material en la construcci√≥n disminuye la probabilidad de sufrir el mismo da√±o de manera notable.

Pero ahora surge la pregunta de que pasa con todas las estructuras que analizamos al principio. Porque a priori podemos suponer que el incremento de superstructures en un mismo edificio puede disminuir la probabilidad de sufrir de da√±o. 

Cuales ser√≠an los resultados en base a los datos?

In [74]:
df_rc_eng_by_sum_structures_and_damage = df_rc_engineered_with_damage\
    .merge(df_train_values)

df_rc_eng_by_sum_structures_and_damage['suma_structures'] = 0 
df_rc_eng_by_sum_structures_and_damage['suma_structures'] = \
    df_rc_eng_by_sum_structures_and_damage['has_superstructure_adobe_mud'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_mud_mortar_stone'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_stone_flag'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_cement_mortar_stone'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_mud_mortar_brick'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_cement_mortar_brick'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_timber'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_bamboo'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_rc_non_engineered'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_rc_engineered'] \
    + df_rc_eng_by_sum_structures_and_damage['has_superstructure_other']

tota_buildings_by_sum_structure = df_rc_eng_by_sum_structures_and_damage\
    .groupby('suma_structures')\
    .count()\
    .reset_index()\
    .rename(columns = { 'building_id': 'total_building_by_structures' })\
    [['suma_structures', 'total_building_by_structures']]

df_rc_eng_percentages_by_damage = df_rc_eng_by_sum_structures_and_damage[['damage_grade', 'building_id', 'suma_structures']]\
    .groupby(['suma_structures', 'damage_grade'])\
    .count()\
    .reset_index()\
    .rename(columns={ 'building_id': 'total_buildings_by_age_and_rc_engineered' })\
    .merge(tota_buildings_by_sum_structure)

df_rc_eng_percentages_by_damage['percentage'] = (df_rc_eng_percentages_by_damage['total_buildings_by_age_and_rc_engineered'] * 100) / df_rc_eng_percentages_by_damage['total_building_by_structures']
df_rc_eng_percentages_by_damage

,suma_structures,damage_grade,total_buildings_by_age_and_rc_engineered,total_building_by_structures,percentage
0,1,1,1774,2594,68.39
1,1,2,773,2594,29.80
2,1,3,47,2594,1.81
3,2,1,787,1293,60.87
4,2,2,488,1293,37.74
5,2,3,18,1293,1.39
6,3,1,80,193,41.45
7,3,2,106,193,54.92
8,3,3,7,193,3.63
9,4,1,9,26,34.62
10,4,2,16,26,61.54
11,4,3,1,26,3.85
12,5,1,3,13,23.08
13,5,2,9,13,69.23
14,5,3,1,13,7.69
15,6,1,3,11,27.27
16,6,2,7,11,63.64
17,6,3,1,11,9.09
18,7,1,0,2,0.00
19,7,2,2,2,100.00
20,7,3,0,2,0.00
21,8,1,0,1,0.00
22,8,2,1,1,100.00
23,8,3,0,1,0.00

Dados los datos podemos observar que el riesgo de sufrir da√±o 3 se mantiene, pero a medida que un edificio incrementa estructuras, puede darse la posibilidad que pase de da√±o 1 a da√±o 2. 

Tambi√©n puede deberse a otros factores o la poca cantidad de datos

### __Variable: has_superstructure_other__

In [186]:
df_other_with_damage, df_other_with_percentage = calculatePercentage('has_superstructure_other', 'total_superstructure_other')
df_other_with_percentage

  damage_grade  total_superstructure_other           percentage
0            1                         656                16.80
1            2                        2248                57.57
2            3                        1001                25.63